// variables

// colors
$colour-white: #FAFAFA;
$colour-dark-grey: rgba(43, 42, 42, 0.88);
$colour-grey: rgb(129, 129, 129);
$colour-black: #000000;
$colour-blue: #54b3d6;
$colour-red: rgb(22, 46, 204);
$colour-background: #fbfcff;
