#welcome {
  direction: rtl;
  width: 100%;
  height: calc(100vh - 110px);
  background: url("/../assets/building.jpg") top center;
  color: $colour-white;
}

#welcome h1, #welcome h2 {
  text-align: start;
}
