<!-- Welcome Section -->
<section id="welcome" class="d-flex align-items-center">
  <div class="container position-relative">
    <h1 class="mat-headline-5"><em><strong>به وبسایت فروش گل گهر خوش آمدید</strong></em></h1>
    <h3 class="mat-headline-6">این وبسایت فروش و همچنین پیگیری سفارشات معدن گل گهر را برعهده دارد</h3>
  </div>
</section>

<footer>
  <div class="container">
    <ul class="d-flex justify-content-center">
      <li> تماس با ما : 09217519266 </li>
      <li>ایمیل : amirreza9266.aa@gmail.com</li>
    </ul>
  </div>
</footer>
